---
import { SITE_TITLE } from '../consts'
// import { url } from '../utils'
import '../assets/styles/shared.scss'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import _ from 'lodash'

export interface Props {
  title: string
  description: string
  'og:image'?: string
  'og:image:type'?: string
  'og:image:width'?: string
  'og:image:height'?: string
  'og:image:alt'?: string
}

const {
  title,
  description,
  'og:image': ogImage,
  'og:image:type': ogImageType,
  'og:image:width': ogImageWidth,
  'og:image:height': ogImageHeight,
  'og:image:alt': ogImageAlt,
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Fonts -->
    <!-- <link
      rel="preload"
      href={(await import('../assets/fonts/brown-sugar.woff2')).default}
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href={(await import('../assets/fonts/mulish-v13-latin-500.woff2'))
        .default}
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href={(await import('../assets/fonts/mulish-v13-latin-600.woff2'))
        .default}
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href={(await import('../assets/fonts/mulish-v13-latin-700.woff2'))
        .default}
      as="font"
      crossorigin
    /> -->

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={SITE_TITLE} />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:image" content={ogImage} />
    <meta property="og:image:type" content={ogImageType} />
    <meta property="og:image:width" content={ogImageWidth} />
    <meta property="og:image:height" content={ogImageHeight} />
    <meta property="og:image:alt" content={ogImageAlt} />

    <!-- Favicons & Manifests -->
    <!-- <link
      rel="apple-touch-icon"
      sizes="57x57"
      href={url('/favicons/apple-icon-57x57.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href={url('/favicons/apple-icon-60x60.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href={url('/favicons/apple-icon-72x72.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href={url('/favicons/apple-icon-76x76.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href={url('/favicons/apple-icon-114x114.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href={url('/favicons/apple-icon-120x120.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href={url('/favicons/apple-icon-144x144.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href={url('/favicons/apple-icon-152x152.png')}
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={url('/favicons/apple-icon-180x180.png')}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href={url('/favicons/android-icon-192x192.png')}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={url('/favicons/favicon-32x32.png')}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href={url('/favicons/favicon-96x96.png')}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={url('/favicons/favicon-16x16.png')}
    />
    <link rel="manifest" href={url('/manifest.json')} />
    <meta name="msapplication-TileColor" content="#beded6" />
    <meta
      name="msapplication-TileImage"
      content={url('/favicons/ms-icon-144x144.png')}
    />
    <meta name="theme-color" content="#beded6" /> -->

    <slot name="head" />
  </head>
  <body>
    <Nav />
    <main id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
