---
import { SITE_TITLE } from '../consts'
import { url } from '../utils'
import '../assets/styles/shared.scss'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import _ from 'lodash'

export interface Props {
  title: string
  description: string
  'og:image'?: string
  'og:image:type'?: string
  'og:image:width'?: string
  'og:image:height'?: string
  'og:image:alt'?: string
}

const {
  title,
  description,
  'og:image': ogImage,
  'og:image:type': ogImageType,
  'og:image:width': ogImageWidth,
  'og:image:height': ogImageHeight,
  'og:image:alt': ogImageAlt,
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Sitemap -->
    <link rel="sitemap" href={url('/sitemap-index.xml')} />

    <!-- Fonts -->
    <!-- <link
      rel="preload"
      href={(await import('../assets/fonts/brown-sugar.woff2')).default}
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href={(await import('../assets/fonts/mulish-v13-latin-500.woff2'))
        .default}
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href={(await import('../assets/fonts/mulish-v13-latin-600.woff2'))
        .default}
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href={(await import('../assets/fonts/mulish-v13-latin-700.woff2'))
        .default}
      as="font"
      crossorigin
    /> -->

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={SITE_TITLE} />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:image" content={ogImage} />
    <meta property="og:image:type" content={ogImageType} />
    <meta property="og:image:width" content={ogImageWidth} />
    <meta property="og:image:height" content={ogImageHeight} />
    <meta property="og:image:alt" content={ogImageAlt} />

    <!-- Favicons & Manifests -->
    <link
      rel="icon"
      type="image/png"
      href={url('/images/favicon/favicon-96x96.png')}
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href={url('/images/favicon/favicon.svg')}
    />
    <link rel="shortcut icon" href={url('/images/favicon/favicon.ico')} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={url('/images/favicon/apple-touch-icon.png')}
    />
    <link rel="manifest" href={url('/site.webmanifest')} />
    <meta name="apple-mobile-web-app-title" content="Maggi Maid" />
    <meta name="theme-color" content="#eceee9" />

    <slot name="head" />
  </head>
  <body>
    <Nav />
    <main id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
